.min-100vh{
  min-height: 100vh;
}

.bg-secondary {
	background-color: var(--secondary) !important;
}

.app-container {
	height: 100vh;
	width: 100vw;
}

.app-container > main {
	background-color: var(--light);
	margin: 0 auto;
}

.app-container > main {
	max-width: 800px
}

label {
	margin-left: .3rem;
	margin-bottom: 2px;
}

.btn:focus, .form-control:focus {
	box-shadow: none !important;
}

.form-control, .form-control:focus:not(.border-danger) {
	border-width: 1.5px !important
}

.form-control:focus:not(.border-danger) {
	border-style: solid;
	border-color: var(--lightblue) !important
}

.btn-primary {
	background-color: var(--primary) !important;
}

.btn-brown {
	background-color: var(--brown) !important;
}

.btn-secondary {
	background-color: var(--secondary) !important;
	border-color: var(--secondary) !important;
}

.btn-brown, .btn-brown:hover, .btn-secondary, .btn-secondary:hover {
	color: #fff !important;
}

.btn:hover:not(:disabled), .hover-opacity:hover {
	opacity: .9 !important;
	transition: .25s;
}

.btn, .form-control, .radius {
	border-radius: 6px !important;
}

.text-500 {
	font-weight: 500 !important;
}

.navbar-brand {
	cursor: default;
}

.icon {
	width: 1.5em;
	height: 1.5em;
}

::-webkit-scrollbar {
	position: fixed;
	width: 8px;
	background-color: transparent !important
}

::-webkit-scrollbar-thumb {
	background-color: #cecece;
	border-radius: 8px !important
}

.message-bar, .search-bar {
	background-color: #fff;
	border-top: 1.5px solid var(--lightblue);
}

.message-form, .search-form {
	display: grid;
	grid-template-columns: 10fr 2fr;
}

.message-form > .form-group, .search-form > .form-group	{
	grid-column: 1;
	margin-bottom: 0 !important;
}

.message-form > .sendButton, .search-form > .sendButton	{
	grid-column: 2;
}

.message-box, .search-box {
	background-color: #fff;
	border-radius: 5px;
}

.message-box {
	width: fit-content;
	max-width: 75%;
}

.messages-panel, .search-panel {
	overflow-y: scroll;
}

.app-container .form-control {
	border: 0 !important
}