.min-100vh{
  min-height: 100vh;
}

.bg-secondary {
	background-color: var(--secondary) !important;
}

.app-container {
	height: 100vh;
	width: 100vw;
}

.app-container > main {
	background-color: var(--light);
	margin: 0 auto;
}

.app-container > main {
	max-width: 800px
}

label {
	margin-left: .3rem;
	margin-bottom: 2px;
}

.btn:focus, .form-control:focus {
	box-shadow: none !important;
}

.form-control, .form-control:focus:not(.border-danger) {
	border-width: 1.5px !important
}

.form-control:focus:not(.border-danger) {
	border-style: solid;
	border-color: var(--lightblue) !important
}

.btn-primary {
	background-color: var(--primary) !important;
}

.btn-brown {
	background-color: var(--brown) !important;
}

.btn-secondary {
	background-color: var(--secondary) !important;
	border-color: var(--secondary) !important;
}

.btn-brown, .btn-brown:hover, .btn-secondary, .btn-secondary:hover {
	color: #fff !important;
}

.btn:hover:not(:disabled), .hover-opacity:hover {
	opacity: .9 !important;
	transition: .25s;
}

.btn, .form-control, .radius {
	border-radius: 6px !important;
}

.text-500 {
	font-weight: 500 !important;
}

.navbar-brand {
	cursor: default;
}

.icon {
	width: 1.5em;
	height: 1.5em;
}