@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
	background-color: var(--primary) !important;
	color: var(--dark) !important;
  margin: 0;
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--primary: #152ba8 !important;
	--secondary: #3D58F2 !important;
	--lightblue: #91A0F2 !important;
	--dark: #4a4a4a !important;
	--brown: #BF625A !important;
	--light: #F0F0F2 !important
}

* {
	outline: none !important;
	text-decoration: none !important;
	list-style: none !important;
}